<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Page</title>
  </head>
  <body>
    <h1>Edit Exercise</h1>
    <form action="/<%=data._id%>?_method=PUT" method="POST">
      <input type="text" name='name' value="<%=data.name%>">
      <input type="text" name='type' value="<%=data.type%>">
      <input type="text" name='duration' value="<%=data.duration%>">
      <input type="text" name='equipment' value="<%=data.equipment%>">
      <input type="text" name='link' value="<%=data.link%>">
      <input type="submit" value="Edit Exercise">
    </form>
  </body>
</html>
