<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Show Page</title>
  </head>
  <body>
    <%- include ('./partials/header.html') %>
    <div class="show-page">
      <h1>The Exercise</h1>
      <ul>
        <li>Name: <%=data.name%></li>
        <li>Type: <%=data.type%></li>
        <li>Duration: <%=data.duration%></li>
        <li>Equipment: <%=data.equipment%></li>
      </ul>
    </div>

    <div class="video-container">
      <iframe src="<%=data.link%>" class="video"></iframe>
    </div>

    <h1 id="showh1">#NO JUDGMENTS ZONE</h1>

    <div class="philosophy-container">
      <div class="left-box">
        <img src="https://img.freepik.com/free-vector/body-positive-cartoon-illustration-with-plump-happy-human-characters-white_1284-61164.jpg?w=2000" width="256" height="256" alt="image">
        <h4>POSITIVITY</h4>
        <p>We work hard to get you where you wanted</p>
      </div>
      <div class="mid-box">
        <img src="https://i.pinimg.com/236x/95/79/f8/9579f8fd6b64e45a534a4a87bb872d8b--teaching-culture-european-languages.jpg"  width="256" height="256"alt="image">
        <h4>Inclusivity</h4>
        <p>There is no one size fits all</p>
      </div>
      <div class="right-box">
        <img src="https://wp.dailybruin.com/images/46794_web.sp.2.8.zumba.illoo.jpg" width="256" height="256" alt="image">
        <h4>FUN</h4>
        <p>We know that exercise is hard but we make it fun!</p>
      </div>
    </div>

    <div id="show-empty"></div>

    <div class="footer-container">
      <div class="left-footer">
          <a href="#">
            <img class="footer-icon" src="https://iconarchive.com/download/i98467/dakirby309/simply-styled/YouTube.ico" alt="facebook icon">
          </a>

          <a href="#">
            <img class="footer-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram icon">
          </a>

          <a href="#">
            <img class="footer-icon" src="https://k12k-dbexcel.edlioadmin.com/apps/download/LeUJWDcQvkq9aNyMLl5TEAFJPDdoRoNR5UXBBKN9qCbFRR5G.png/Twitter-icon%20%281%29%20copy.png" alt="Tweeter icon">
          </a>

          <a href="#">
            <img class="footer-icon" src="https://www.freepnglogos.com/uploads/facebook-logo-13.png" alt="facebook icon">
          </a>
          <p class="footer-li"><img src="https://www.logodesignlove.com/images/monograms/registered-trademark-symbol.gif" width="20" height="20">STAR FITNESS</p>
          <p class="footer-li">ALL RIGHTS RESERVED</p>
      </div>
      <div class="right-footer">
        <ul id="footer-ul">
          <li class="footer-li"><a class="footer-a" href="#">FAQ</a></li>
          <li class="footer-li"><a class="footer-a" href="#">CONTACT</a></li>
          <li class="footer-li"><a class="footer-a" href="#">TERMS OF USE</a></li>
          <li class="footer-li"><a class="footer-a" href="#">PRIVACY POLICY</a></li>
          <li class="footer-li"><a class="footer-a" href="#">BECOME A MEMBER</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>

<!-- name: "Shoulder Weight Training",
link: "https://www.youtube.com/watch?v=2keb031pDGk",
type: "Weight Training",
duration: "20 minutes",
equipment: "dumbells, waterbottles, or your body", -->
