<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Show Page</title>
  </head>
  <body>
    <%- include ('./partials/header.html') %>
    <div class="show-page">
      <h1>The Exercise</h1>
      <ul>
        <li>Name: <%=data.name%></li>
        <li>Type: <%=data.type%></li>
        <li>Duration: <%=data.duration%></li>
        <li>Equipment: <%=data.equipment%></li>
      </ul>
    </div>

    <div class="video-container">
      <iframe src="<%=data.link%>" class="video"></iframe>
    </div>

    <h1 id="showh1">#NO JUDGMENTS ZONE</h1>

    <div class="philosophy-container">
      <div class="left-box">
        <img src="https://img.freepik.com/free-vector/body-positive-cartoon-illustration-with-plump-happy-human-characters-white_1284-61164.jpg?w=2000" width="256" height="256" alt="image">
        <h4>POSITIVITY</h4>
        <p>We work hard to get you where you wanted</p>
      </div>
      <div class="mid-box">
        <img src="https://i.pinimg.com/236x/95/79/f8/9579f8fd6b64e45a534a4a87bb872d8b--teaching-culture-european-languages.jpg"  width="256" height="256"alt="image">
        <h4>Inclusivity</h4>
        <p>There is no one size fits all</p>
      </div>
      <div class="right-box">
        <img src="https://wp.dailybruin.com/images/46794_web.sp.2.8.zumba.illoo.jpg" width="256" height="256" alt="image">
        <h4>FUN</h4>
        <p>We know that exercise is hard but we make it fun!</p>
      </div>
    </div>

    <!-- <div id="show-empty"></div> -->

    <!-- footer -->
    <%- include ('./partials/footer.html') %>
  </body>
</html>

<!-- name: "Shoulder Weight Training",
link: "https://www.youtube.com/watch?v=2keb031pDGk",
type: "Weight Training",
duration: "20 minutes",
equipment: "dumbells, waterbottles, or your body", -->
